@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none; }

/*Variables*/
body {
  background-color: #F3F9F5;
  font-family: 'Mukta', sans-serif; }

main {
  padding-top: 98px; }

.container {
  width: 85%;
  max-width: 1111px;
  margin: 0 auto;
  height: 100%; }

.container-slider {
  width: 85%;
  max-width: 1701px;
  margin: 0 auto;
  height: 100%; }

/*Navegador*/
.header {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 2; }

.header a {
  color: #494748;
  text-decoration: none; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center; }
  .navigation ul li {
    display: inline-block; }
    .navigation ul li a {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 20px;
      font-weight: 800; }
    .navigation ul li a.icon-redsocial-inst {
      padding-right: 0;
      padding-left: 0; }
    .navigation ul li a.icon-redsocial-inst,
    .navigation ul li a.icon-redsocial {
      height: 45px; }
    .navigation ul li a:hover {
      color: #0C7633;
      border-bottom: 2px solid #0C7633; }

.home {
  height: calc(100vh - 98px);
  position: relative; }
  .home .cont {
    display: flex;
    align-items: center;
    height: 94%; }
    .home .cont .home-part-1 {
      width: 50%;
      padding-right: 50px; }
      .home .cont .home-part-1 .text {
        transform: translateY(-50px); }
      .home .cont .home-part-1 h1 {
        font-size: 3.12vw;
        /*60px*/
        line-height: 60px;
        color: #0C7633;
        margin-bottom: 20px;
        font-weight: 900; }
      .home .cont .home-part-1 p {
        color: #494748;
        font-size: 1.144vw;
        /*22*/
        width: 85%;
        margin-bottom: 30px; }
      .home .cont .home-part-1 a {
        text-decoration: none;
        color: #0C7633;
        background-color: #FCCA08;
        font-weight: 900;
        padding: 8px 49px;
        font-size: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 8px #D7AB00; }
    .home .cont .home-part-2 .cuadro {
      background-image: url(../img/home1.png);
      background-repeat: no-repeat;
      width: 602px;
      height: 654px;
      float: right;
      position: relative;
      border-radius: 20px;
      transform: translateY(-100px); }
    .home .cont .home-part-2 .btn-home {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 30px 15px; }
      .home .cont .home-part-2 .btn-home a {
        font-size: 20px;
        text-decoration: none;
        margin: 0 5px;
        padding: 3px 15px;
        border-radius: 20px;
        background-color: white;
        color: #494748; }
      .home .cont .home-part-2 .btn-home a:hover {
        background-color: #0C7633;
        color: white; }

.slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid #0C7633;
  border-bottom: 2px solid #0C7633;
  overflow: hidden; }
  .slider .scroll {
    width: 100%;
    display: flex;
    padding: 15px 0; }
    .slider .scroll .text {
      color: #494748;
      font-size: 35px;
      white-space: nowrap;
      font-weight: 900;
      animation: animate 40s linear infinite;
      animation-delay: -40s;
      display: flex; }
      .slider .scroll .text img {
        width: 50px;
        padding-right: 20px; }
      .slider .scroll .text span {
        font-size: 35px;
        color: #494748; }
      .slider .scroll .text .cont {
        padding-left: 50px; }
        .slider .scroll .text .cont img#email {
          width: 60px; }
    .slider .scroll .text:nth-child(2) {
      animation: animate2 40s linear infinite;
      animation-delay: -20s; }

@keyframes animate {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes animate2 {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }

.nosotros {
  padding: 150px 0; }
  .nosotros .cont {
    display: flex; }
    .nosotros .cont .nosotros-part-1 {
      width: 50%;
      display: flex;
      align-items: center; }
      .nosotros .cont .nosotros-part-1 .cont-imgs {
        padding-right: 50px;
        height: 550px; }
        .nosotros .cont .nosotros-part-1 .cont-imgs img.img1 {
          width: 324px;
          float: right; }
        .nosotros .cont .nosotros-part-1 .cont-imgs img.img2 {
          position: relative;
          left: 10px;
          top: -100px; }
        .nosotros .cont .nosotros-part-1 .cont-imgs img.img3 {
          float: right;
          padding-top: 20px; }
    .nosotros .cont .nosotros-part-2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .nosotros .cont .nosotros-part-2 h2 {
        font-size: 60px;
        font-weight: 900;
        color: #0C7633;
        padding-left: 20px; }
      .nosotros .cont .nosotros-part-2 p {
        font-size: 22px;
        color: #494748;
        padding-left: 20px; }

.equipo {
  padding: 100px 0; }
  .equipo .title h2 {
    font-size: 60px;
    color: #0C7633;
    font-weight: 800; }
  .equipo .btn-equipo {
    float: right; }
  .equipo div#slider {
    margin-top: 100px; }
  .equipo #slider ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .equipo #slider ul li {
      width: 48.6%;
      /*48.6*/
      min-height: 686px;
      list-style: none;
      background-color: white;
      border-radius: 20px;
      margin-bottom: 45px;
      box-shadow: 0px 4px 4px rgba(73, 71, 72, 0.4); }
      .equipo #slider ul li .tarj-img {
        overflow: hidden; }
        .equipo #slider ul li .tarj-img img {
          width: 100%; }
      .equipo #slider ul li .tarj-text .top {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgba(73, 71, 72, 0.2); }
        .equipo #slider ul li .tarj-text .top div {
          padding-left: 20px;
          color: #494748; }
          .equipo #slider ul li .tarj-text .top div h3 {
            font-size: 25px;
            font-weight: 800;
            line-height: 25px;
            color: #494748; }
      .equipo #slider ul li .tarj-text .bot {
        padding: 10px 20px; }
        .equipo #slider ul li .tarj-text .bot p {
          font-size: 22px;
          line-height: 25px; }

.administracion {
  padding: 100px 0; }
  .administracion .title h2 {
    font-size: 60px;
    color: #0C7633;
    font-weight: 800; }
  .administracion .btn-equipo {
    float: right; }
  .administracion .cont {
    margin-top: 100px;
    height: 380px; }
    .administracion .cont ul {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .administracion .cont ul li {
        width: 22%;
        list-style: none;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(73, 71, 72, 0.4); }
        .administracion .cont ul li .adm-img img {
          width: 100%; }
        .administracion .cont ul li .adm-text {
          padding: 5px 20px;
          line-height: 30px;
          font-weight: 800; }
          .administracion .cont ul li .adm-text h3 {
            font-size: 30px; }
          .administracion .cont ul li .adm-text p {
            font-size: 24px; }

.Servicios {
  padding: 100px 0; }
  .Servicios .title h2 {
    font-size: 60px;
    color: #0C7633;
    font-weight: 800; }
  .Servicios .btn-equipo {
    float: right; }
  .Servicios .wrap {
    width: 100%;
    margin: 50px 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .Servicios .tarjeta-wrap {
    margin: 15px;
    -webkit-perspective: 800;
    perspective: 800;
    width: 46.8%; }
  .Servicios .tarjeta {
    height: 280px;
    background: white;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    box-shadow: 0px 4px 8px rgba(73, 71, 72, 0.4);
    border-radius: 20px; }
  .Servicios .adelante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Servicios .adelante p {
      margin-top: 10px;
      font-size: 40px;
      color: #494748;
      font-weight: 800;
      line-height: 35px; }
  .Servicios .adelante, .Servicios .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .Servicios .adelante {
    width: 100%; }
  .Servicios .atras {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff; }
    .Servicios .atras p {
      font-size: 25px;
      color: #494748;
      line-height: 30px; }
    .Servicios .atras .boton-tarjeta-atras {
      display: flex;
      justify-content: center; }
    .Servicios .atras a {
      font-size: 20px;
      font-weight: 800;
      text-decoration: none;
      color: #0C7633;
      background-color: #FCCA08;
      padding: 5px 67px;
      box-shadow: 0px 4px 8px #D7AB00;
      border-radius: 20px; }
  .Servicios .tarjeta-wrap:hover .tarjeta {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.slider1 {
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid #0C7633;
  border-bottom: 2px solid #0C7633;
  overflow: hidden; }
  .slider1 .scroll {
    width: 100%;
    display: flex;
    padding: 15px 0; }
    .slider1 .scroll .text {
      color: #494748;
      font-size: 35px;
      white-space: nowrap;
      font-weight: 900;
      animation: animate 40s linear infinite;
      animation-delay: -40s;
      display: flex; }
      .slider1 .scroll .text img {
        width: 50px;
        padding-right: 20px; }
      .slider1 .scroll .text span {
        font-size: 35px;
        color: #494748; }
      .slider1 .scroll .text .cont {
        padding-left: 50px;
        display: flex;
        align-items: center;
        height: 94%; }
        .slider1 .scroll .text .cont img#email1 {
          width: 60px; }
    .slider1 .scroll .text:nth-child(2) {
      animation: animate2 40s linear infinite;
      animation-delay: -20s; }

@keyframes animate {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes animate2 {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-200%); } }

.footer .bg-footer {
  background-color: #0C7633;
  height: 135px;
  box-shadow: 0px 9px 17px rgba(12, 118, 51, 0.48); }
  .footer .bg-footer .container {
    background-color: #0C7633; }
    .footer .bg-footer .container .contfoot {
      display: flex;
      justify-content: space-between;
      height: 100%; }
      .footer .bg-footer .container .contfoot h3 {
        font-size: 40px;
        color: white; }
      .footer .bg-footer .container .contfoot .text-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
      .footer .bg-footer .container .contfoot .btnfoot {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
      .footer .bg-footer .container .contfoot a {
        margin: 0 auto;
        text-decoration: none;
        padding: 8px 48px;
        border-radius: 20px;
        font-weight: 800;
        color: #0C7633;
        background-color: #FCCA08; }

.footer .maps {
  height: 479px; }

.footer .creditos {
  height: 35px; }
  .footer .creditos .cont-credito {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    .footer .creditos .cont-credito h3 {
      font-size: 13px;
      color: #494748; }
    .footer .creditos .cont-credito .text-creditos {
      display: flex;
      align-items: center; }
    .footer .creditos .cont-credito .info-nerd {
      display: flex;
      align-items: center; }
      .footer .creditos .cont-credito .info-nerd img {
        padding: 0 10px; }
      .footer .creditos .cont-credito .info-nerd h3 {
        position: relative;
        bottom: -3px; }
      .footer .creditos .cont-credito .info-nerd h3.corazon {
        position: relative;
        bottom: -1px;
        padding-left: 3px; }
      .footer .creditos .cont-credito .info-nerd img.personaje {
        width: 48px; }

.contacto {
  height: 100vh;
  background-color: #0C7633;
  padding: 100px 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translateX(100%); }
  .contacto .btn-close {
    float: right;
    transform: translateY(-50px); }
  .contacto .cont {
    padding-top: 30px;
    display: flex;
    justify-content: space-between; }
    .contacto .cont .contacto-part1 {
      width: 50%;
      color: white;
      /* reset */
      /* border, padding, margin, width */
      /* address, locale */ }
      .contacto .cont .contacto-part1 h1 {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 20px; }
      .contacto .cont .contacto-part1 p {
        font-size: 22px;
        margin-bottom: 40px;
        line-height: 25px; }
      .contacto .cont .contacto-part1 #fs-frm select,
      .contacto .cont .contacto-part1 #fs-frm input,
      .contacto .cont .contacto-part1 #fs-frm fieldset,
      .contacto .cont .contacto-part1 #fs-frm textarea,
      .contacto .cont .contacto-part1 #fs-frm label,
      .contacto .cont .contacto-part1 #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        height: 53px;
        color: white;
        border: none;
        border-radius: 0;
        /* display: block; */
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none; }
      .contacto .cont .contacto-part1 #fs-frm label,
      .contacto .cont .contacto-part1 #fs-frm legend,
      .contacto .cont .contacto-part1 #fs-frm ::placeholder {
        font-size: 20px;
        margin-bottom: 0.5rem;
        padding-top: 0.2rem;
        display: flex;
        align-items: baseline;
        color: white; }
      .contacto .cont .contacto-part1 #fs-frm input,
      .contacto .cont .contacto-part1 #fs-frm select,
      .contacto .cont .contacto-part1 #fs-frm textarea,
      .contacto .cont .contacto-part1 #fs-frm #card-element {
        background-color: rgba(255, 255, 255, 0.26);
        color: white;
        padding: 0.75em 1rem;
        margin-bottom: 1.5rem; }
      .contacto .cont .contacto-part1 #fs-frm textarea {
        height: 50px; }
      .contacto .cont .contacto-part1 #fs-frm input:focus,
      .contacto .cont .contacto-part1 #fs-frm select:focus,
      .contacto .cont .contacto-part1 #fs-frm textarea:focus {
        background-color: rgba(255, 255, 255, 0.26);
        outline-style: none;
        outline-width: thin;
        outline-color: gray;
        outline-offset: -1px; }
      .contacto .cont .contacto-part1 #fs-frm [type="text"],
      .contacto .cont .contacto-part1 #fs-frm [type="email"] {
        width: 100%; }
      .contacto .cont .contacto-part1 #fs-frm [type="button"],
      .contacto .cont .contacto-part1 #fs-frm [type="submit"],
      .contacto .cont .contacto-part1 #fs-frm [type="reset"] {
        width: 150px;
        cursor: pointer;
        color: #0C7633;
        background-color: #FCCA08;
        border: 2px solid #bb9d65;
        font-weight: 800;
        font-size: 20px;
        height: 50px;
        line-height: 0px;
        border-radius: 20px;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        box-shadow: 0px 4px 8px #D7AB00; }
      .contacto .cont .contacto-part1 #fs-frm [type="submit"]:hover {
        width: 150px;
        cursor: pointer;
        color: white;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        transition: all 0.2s linear; }
      .contacto .cont .contacto-part1 #fs-frm [type="submit"],
      .contacto .cont .contacto-part1 #fs-frm [type="reset"] {
        margin-bottom: 0; }
      .contacto .cont .contacto-part1 #fs-frm select {
        text-transform: none; }
      .contacto .cont .contacto-part1 #fs-frm [type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        display: inline-block;
        width: auto;
        margin: 0 0.5em 0 0 !important; }
      .contacto .cont .contacto-part1 #fs-frm [type="radio"] {
        -webkit-appearance: radio;
        -moz-appearance: radio;
        appearance: radio; }
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale input[name="city"],
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale select[name="state"],
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale input[name="postal-code"] {
        display: inline; }
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale input[name="city"] {
        width: 52%; }
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale select[name="state"],
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale input[name="postal-code"] {
        width: 20%; }
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale input[name="city"],
      .contacto .cont .contacto-part1 #fs-frm fieldset.locale select[name="state"] {
        margin-right: 3%; }
      .contacto .cont .contacto-part1 form {
        width: 100%; }
      .contacto .cont .contacto-part1 form fieldset .btn {
        margin-left: auto;
        margin-right: auto; }
      .contacto .cont .contacto-part1 textarea {
        height: 180px !important; }
    .contacto .cont .contacto-part2 {
      width: 50%; }
      .contacto .cont .contacto-part2 .contacto-imgs {
        padding-top: 70px;
        padding-left: 50px;
        width: 100%; }
        .contacto .cont .contacto-part2 .contacto-imgs .img1 {
          width: 324px;
          margin: 0 auto; }
        .contacto .cont .contacto-part2 .contacto-imgs .img2 {
          width: 258px;
          float: right; }
        .contacto .cont .contacto-part2 .contacto-imgs .img3 {
          width: 200px; }
  .contacto .slider .cont {
    padding-top: 0; }

.contacto.open {
  transform: translateX(0%);
  z-index: 10;
  position: absolute,fixed;
  top: 0; }

.activo {
  /* position: absolute; */
  /* right: 0; */
  /* z-index: 1; */
  transition: all 0.5s ease;
  /* transform: translateX(-200px);     */ }

.contact,
.contact2,
.contact3,
.contact4,
.contact5,
.contact6,
.contact7,
.close,
#btn-right,
#btn-left {
  cursor: pointer; }

.container-slider {
  overflow: hidden; }

.slider-adm {
  width: 300%;
  display: flex;
  margin-left: -100%; }

.slider__section {
  width: 100%; }
