@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;    
}

/*Variables*/
$bg-color: #F3F9F5;
$color-title: #0C7633;
$color-text: #494748;
$color-btn: #FCCA08;
$back-form-input: rgba(255, 255, 255, 0.12); 


body{
    background-color: $bg-color;
    font-family: 'Mukta', sans-serif;
}

main{
    padding-top: 98px;
}

.container{
    width: 85%;
    max-width: 1111px;
    margin: 0 auto;
    height: 100%;
}

/*Navegador*/
.header{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 18px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header a {
    color: $color-text;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 0.5rem 1rem;
                font-size: 20px;
                font-weight: 800;
            }
            a.icon-redsocial-inst{
                padding-right: 0;
                padding-left: 0;
            }
            a.icon-redsocial-inst,
            a.icon-redsocial{
                height: 45px;
            }
            a:hover{
                color: $color-title;
                border-bottom: 2px solid $color-title;
            }
        }
        
    }    
}

.home{
    height: calc(100vh - 98px);
    position: relative;
    .cont{
        display: flex;
        align-items: center;
        height: 94%;
        .home-part-1{
            width: 50%;
            .text{
                transform: translateY(-50px);
            }
            h1{
                font-size: 60px;
                line-height: 60px;
                color: $color-title;
                margin-bottom: 20px;
                font-weight: 900;
            }
            p{
                color: $color-text;
                font-size: 22px;
                width: 85%;
                margin-bottom: 30px;
            }

            a{
                text-decoration: none;
                color: $color-title;
                background-color: $color-btn;
                font-weight: 900;
                padding: 8px 49px;
                font-size: 20px;
                border-radius: 20px;
                box-shadow: 0px 4px 8px #D7AB00;
            }
        }
        .home-part-2{
            img{
                float: right;
                width: 602px;
            }
            .cuadro{
                background-image: url(../img/home1.png);
                background-repeat: no-repeat;
                width: 602px;
                height: 654px;
                float: right;
                position: relative;
                border-radius: 20px;
                transform: translateY(-100px);
            }
            .btn-home{
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 30px 15px;
                a{
                    font-size: 20px;
                    text-decoration: none;
                    margin: 0 5px;
                    padding: 3px 15px;
                    border-radius: 20px;
                    background-color: white;
                    color: $color-text;
                }

                a:hover{
                    background-color: $color-title;
                    color: white;
                }
            }
        }
    }    
}

.slider{    
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid $color-title;
    border-bottom: 2px solid $color-title;
    overflow: hidden;
    .scroll{
        width: 100%;
        display: flex;
        padding: 15px 0;
        .text{
            color: $color-text;
            font-size: 35px;
            white-space: nowrap;
            font-weight: 900;
            animation: animate 40s linear infinite;
            animation-delay: -40s;
            display: flex;
            img{
                width: 50px;
                padding-right: 20px;                
            }            
            span{
                font-size: 35px;
                color: $color-text;
            }
            .cont{
                padding-left: 50px;
                img#email{
                    width: 60px;
                }
            }
        }
        .text:nth-child(2){
            animation: animate2 40s linear infinite;
            animation-delay: -20s;
        }
        @keyframes animate {
            0%{
                transform:  translateX(100%);
            }
            100%{
                transform:  translateX(-100%);
            }
        }

        @keyframes animate2 {
            0%{
                transform:  translateX(0%);
            }
            100%{
                transform:  translateX(-200%);
            }
        }
    }
}

.nosotros{
    padding: 150px 0;
    .cont{
        display: flex;
        .nosotros-part-1{
            width: 50%;
            display: flex;
            align-items: center;
            .cont-imgs{
                padding-right: 50px;
                height: 550px;
                img.img1{
                    width: 324px;
                    float: right;
                }
    
                img.img2{
                    position: relative;
                    left: 10px;
                    top: -100px;
                }
    
                img.img3{
                    float: right;
                    padding-top: 20px;
                }
            }
        }
        .nosotros-part-2{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: 60px;
                font-weight: 900;
                color: $color-title;
                padding-left: 20px;
            }
            p{
                font-size: 22px;
                color: $color-text;
                padding-left: 20px;
            }
        }
    }
}

.equipo{
    padding: 100px 0;
    .title h2{
        font-size: 60px;
        color: $color-title;
        font-weight: 800;
    }
    .btn-equipo{
        float: right;
    }
    div#slider{
        margin-top: 100px;
    }   

    #slider{
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: 48.6%;/*48.6*/
                min-height: 686px;
                list-style: none;
                background-color: white;
                border-radius: 20px;
                margin-bottom: 45px;
                box-shadow: 0px 4px 4px rgba(73, 71, 72, 0.4);
                .tarj-img{
                    height: 384px;
                    overflow: hidden;                
                }
                .tarj-text{
                    .top{
                        padding: 10px 20px;
                        display: flex;
                        align-items: center;
                        border-bottom: 2px solid rgba(73, 71, 72, 0.2);
                        div{
                            padding-left: 20px;
                            color: $color-text;   
                            h3{
                                font-size: 25px;
                                font-weight: 800;
                                line-height: 25px;
                                color: $color-text;
                            }                         
                        }
                    }
                    .bot{
                        padding: 10px 20px;
                        p{
                            font-size: 22px;
                            line-height: 25px;
                        }
                    }
                }
            }            
        }
    }

    // #slider {
    //     position: relative;
    //     overflow: hidden;
    //     margin: 20px auto 0 auto;
    //     border-radius: 4px;
    //     width: 100%;
    //     height: 300px;
    // }
      
    // #slider ul {
    //     position: relative;
    //     margin: 0;
    //     padding: 0;
    //     height: 100%;
    //     list-style: none;
    // }
      
    // #slider ul li {
    //     position: relative;
    //     display: block;
    //     float: left;
    //     margin: 0;
    //     padding: 0;
    //     width: 100%;
    //     height: 300px;
    //     text-align: center;
    //     line-height: 300px;
    // }
}

.administracion{
    padding: 100px 0;
    .title h2{
        font-size: 60px;
        color: $color-title;
        font-weight: 800;
    }
    .btn-equipo{
        float: right;
    }
    .cont{
        margin-top: 100px;
        ul{
            width: 100%;
            display: flex;            
            justify-content: space-around;
            li{
                width: 352px;
                list-style: none;
                border-radius: 20px;
                box-shadow: 0px 4px 4px rgba(73, 71, 72, 0.4);
                .adm-text{
                    padding: 5px 20px;
                    line-height: 30px;
                    font-weight: 800;
                    h3{
                        font-size: 30px;
                    }
                    p{
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

.Servicios{
    padding: 100px 0;
    .title h2{
        font-size: 60px;
        color: $color-title;
        font-weight: 800;
    }
    .btn-equipo{
        float: right;
    }

    .wrap{
        width: 100%;
        margin: 50px 0 0 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

    }
    
    .tarjeta-wrap{
        margin: 15px;
        -webkit-perspective: 800;
        perspective: 800;
        width: 46.8%;
    }
    
    .tarjeta{
        height: 280px;
        background: white;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: .7s ease;
        transition: .7s ease;        
        box-shadow: (0px 4px 8px rgba(73, 71, 72, 0.4));
        border-radius: 20px;
    }

    .adelante{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            margin-top: 10px;
            font-size: 40px;
            color: $color-text;
            font-weight: 800;
            line-height: 35px;
        }
    }

    
    .adelante, .atras{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .adelante{
        width: 100%;
    }
    
    .atras{
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    
        padding: 25px;
        // display: flex;
        // flex-direction: column;
        // -webkit-box-pack: center;
        // -webkit-justify-content: center;
        // -ms-flex-pack: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // align-items: center;    
        // text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;

        p{
            font-size: 25px;
            color: $color-text;
            line-height: 30px;
        }

        .boton-tarjeta-atras{
            display: flex;
            justify-content: center;
        }

        a{
            font-size: 20px;
            font-weight: 800;
            text-decoration: none;
            color: $color-title;
            background-color: $color-btn;
            padding: 5px 67px;
            box-shadow: 0px 4px 8px #D7AB00;
            border-radius: 20px;
        }
    }
    
    .tarjeta-wrap:hover .tarjeta{
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.slider1{    
    // position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid $color-title;
    border-bottom: 2px solid $color-title;
    overflow: hidden;
    .scroll{
        width: 100%;
        display: flex;
        padding: 15px 0;
        .text{
            color: $color-text;
            font-size: 35px;
            white-space: nowrap;
            font-weight: 900;
            animation: animate 40s linear infinite;
            animation-delay: -40s;
            display: flex;
            img{
                width: 50px;
                padding-right: 20px;
            }
            span{
                font-size: 35px;
                color: $color-text;
            }
            .cont{
                padding-left: 50px;
                display: flex;
                align-items: center;
                height: 94%;
                img#email1{
                    width: 60px;
                }
            }
        }
        .text:nth-child(2){
            animation: animate2 40s linear infinite;
            animation-delay: -20s;
        }
        @keyframes animate {
            0%{
                transform:  translateX(100%);
            }
            100%{
                transform:  translateX(-100%);
            }
        }

        @keyframes animate2 {
            0%{
                transform:  translateX(0%);
            }
            100%{
                transform:  translateX(-200%);
            }
        }
    }
}

.footer{
    .bg-footer{
        background-color: $color-title;
        height: 135px;
        box-shadow: (0px 9px 17px rgba(12, 118, 51, 0.48));
        .container{
            background-color: $color-title;
            .contfoot{
                display: flex;
                justify-content: space-between;
                height: 100%;
                h3{
                    font-size: 40px;
                    color: white;
                }
                .text-footer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                .btnfoot{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                a{
                    margin: 0 auto;
                    text-decoration: none;
                    padding: 8px 48px;
                    border-radius: 20px;
                    font-weight: 800;
                    color: $color-title;
                    background-color: $color-btn;
                }
            }
        }
    }
    .creditos{
        height: 35px;
        .cont-credito{
            display: flex;
            justify-content: space-between;
            height: 100%;
            h3{
                font-size: 13px;
                color: $color-text;
            }
            .text-creditos{
                display: flex;
                align-items: center;
            }            
            .info-nerd{
                display: flex;
                align-items: center;
                img{
                    padding: 0 10px;
                }

                img.personaje{
                    width: 50px;
                }
                img.logo-nerd{
                    width: 72px;
                }
            }
        }
    }
}

.contacto{
    height: 100vh;
    background-color: $color-title;
    padding: 100px 0;
    .btn-close{
        float: right;
    }
    .cont{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        .contacto-part1{
            width: 50%;
            color: white;
            h1{
                font-size: 60px;
            }
            p{
                font-size: 22px;
                margin-bottom: 40px;
            }
            /* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 0;
  /* display: block; */
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline; 
  color: white;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem; }

#fs-frm textarea {
  height: 50px; }

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: transparent;
  outline-style: none;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px; }

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%; }

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 2px solid #bb9d65;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }

#fs-frm [type="submit"]:hover {
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: #bb9d65;
  border: 2px solid #bb9d65;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  transition: all 0.2s linear; }

/* 
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  } */
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0; }

#fs-frm select {
  text-transform: none; }

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important; }

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio; }

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline; }

#fs-frm fieldset.locale input[name="city"] {
  width: 52%; }

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%; }

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%; }

form {
  width: 400px; }

form fieldset .btn {
  margin-left: auto;
  margin-right: auto; }

textarea {
  height: 80px !important; }
        }
    }
}


